<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.4"
    xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
      <display-name>hellowworldservlet</display-name>
    <servlet>
   	 <display-name>myservlet</display-name>
   	 <servlet-name>HelloServlet</servlet-name>
   	 <servlet-class>com.metacube.servletassignment4.controller.RegisterServlet</servlet-class>
    </servlet>
    <servlet-mapping>
   	 <servlet-name>HelloServlet</servlet-name>
   	 <url-pattern>/RegisterServlet</url-pattern>
    </servlet-mapping>
     <servlet>
   	 <display-name>myservlet</display-name>
   	 <servlet-name>LogInServlet</servlet-name>
   	 <servlet-class>com.metacube.servletassignment4.controller.LogInServlet</servlet-class>
    </servlet>
    <servlet-mapping>
   	 <servlet-name>LogInServlet</servlet-name>
   	 <url-pattern>/LogInServlet</url-pattern>
    </servlet-mapping>
     <servlet>
   	 <display-name>myservlet</display-name>
   	 <servlet-name>LogOutServlet</servlet-name>
   	 <servlet-class>com.metacube.servletassignment4.controller.LogOutServlet</servlet-class>
    </servlet>
    <servlet-mapping>
   	 <servlet-name>LogOutServlet</servlet-name>
   	 <url-pattern>/LogOutServlet</url-pattern>
    </servlet-mapping>
    <servlet>
   	 <display-name>myservlet</display-name>
   	 <servlet-name>ProfileServlet</servlet-name>
   	 <servlet-class>com.metacube.servletassignment4.controller.ProfileServlet</servlet-class>
    </servlet>
    <servlet-mapping>
   	 <servlet-name>ProfileServlet</servlet-name>
   	 <url-pattern>/ProfileServlet</url-pattern>
    </servlet-mapping>
    
    <servlet>
   	 <display-name>myservlet</display-name>
   	 <servlet-name>UpdateServlet</servlet-name>
   	 <servlet-class>com.metacube.servletassignment4.controller.UpdateServlet</servlet-class>
    </servlet>
    <servlet-mapping>
   	 <servlet-name>UpdateServlet</servlet-name>
   	 <url-pattern>/UpdateServlet</url-pattern>
    </servlet-mapping>
    
     <servlet>
   	 <display-name>myservlet</display-name>
   	 <servlet-name>FriendServlet</servlet-name>
   	 <servlet-class>com.metacube.servletassignment4.controller.FriendServlet</servlet-class>
    </servlet>
    <servlet-mapping>
   	 <servlet-name>FriendServlet</servlet-name>
   	 <url-pattern>/FriendServlet</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
   	 <welcome-file>user_registration.html</welcome-file>
    </welcome-file-list>
</web-app>