
<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<table>
		<tr>
			<a th:href="@{project/add}">Add Project Master</a>
			<a th:href="@{skill/add}">Add Skill Master</a>
			<a th:href="@{job/add}">Add Job Title</a>
			<a th:href="@{projects}">Show All Employes</a>
			<a href="">Add Employee Master</a>
			<a href="">Search Employee</a>
			<a href="">LogOut</a>
		</tr>
	</table>
</body>
</html>